@import "reset.css";
input {
    border: 1px solid #fff;
}

.lg-wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -135px 0 0 -240px;
    width: 480px;
    height: 270px;
    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/c0.jpg);
        opacity: 0.6;
        z-index: -1;
    }
    .lg-content {
        margin-top: 95px;
        text-align: center;
        font-size: 16px;
        p {
            margin-top: 10px;
        }
        label {
            display: inline-block;
            width: 75px;
            text-align: left;
        }
        input {
            height: 14px;
            line-height: 14px;
            padding: 5px 0 5px 10px;
        }
        a {
            display: inline-block;
            width: 60px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            text-decoration: none;
            border: 1px solid #fff;
            border-radius: 5px;
            &:hover {
                border-color: #f60;
            }
        }
    }
}

.home-wrapper {
    font-size: 14px;
    .nav {
        width: 100%;
        height: 60px;
        line-height: 60px;
        padding-left: 20px;
        background: #f5f5f5;
    }
}
